.layout {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  padding-top: 2.8125rem;
  padding-bottom: 1.5625rem;
  border-bottom: 1px solid var(--white);
}

.subHeader {
  margin: 1.125rem 0 0.5625rem;
  text-align: center;
  padding: 1.875rem 0;
}

@media screen and (max-width: 1000px) {
  .layout {
    padding: 2.25rem 1.5rem 0.25rem;
  }

  .header {
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0.8375rem;
  }
}
