.header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  padding-top: 2.8125rem;
  padding-bottom: 1.5625rem;
  border-bottom: 1px solid var(--white);
  background: transparent;
  transition: 100ms background-color;
}

.subHeader {
  margin: 1.125rem 0 0.5625rem;
  text-align: center;
  padding: 1.875rem 0;
}

@media screen and (max-width: 1000px) {
  .inViewPlaceholder {
    position: absolute;
    height: 1px;
  }

  .header {
    z-index: 1000;
    position: sticky;
    top: 0;
    padding-top: 0.8125rem;
    padding-bottom: 0.8125rem;
  }

  .headerSticky {
    background: var(--white);
    border-bottom: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    .logo {
      > path {
        fill: var(--logo-blue);
      }
    }
  }

  .subHeader {
    text-align: left;
    padding: 0;
    margin: 0.875rem 0;
  }
}
