.mascotCard {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 100%;
  border-radius: 8px;
  background: var(--white);
  border: 1px var(--palatinate-blue) solid;

  img {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  &.mascotCardSelected {
    border: 3px solid var(--green-sheen);
  }

  &.mascotCardVertical {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 218px;
    padding: 0.625rem 1rem 0.875rem;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    img {
      margin-bottom: 0.75rem;
      width: 182px;
      height: 182px;
    }

    &:not(.mascotCardSelected) {
      padding: 0.75rem 1.125rem 1rem;
    }

    .mascotCardDescription {
      margin: 0 -0.5rem 1.125rem;
    }
  }

  &.mascotCardHorizontal {
    position: relative;
    flex-direction: row;
    gap: 1.3125rem;
    padding: 1.0625rem 1.375rem;
    text-align: left;
    align-items: center;

    img {
      width: 196px;
      height: auto;
    }
  }
}

.mascotCardTitle {
  color: var(--palatinate-blue);
  margin-bottom: 0.5625rem;
}

.mascotCardDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
}

@media screen and (max-width: 1000px) {
  .mascotCard {
    &.mascotCardVertical {
      max-width: unset;
      align-items: center;
    }
  }

  .mascotCardDescription {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 1000px) {
  .mascotCard {
    &.mascotCardVertical {
      height: 415px;
    }
  }
}
