.alert {
  text-align: center;

  h2 {
    color: var(--palatinate-blue);
    margin-top: 6rem;
    margin-bottom: 1rem;
  }

  p {
    max-width: 500px;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    margin: 0 auto 2.375rem;
  }

  .icon {
    margin: 0 auto 1.125rem;
  }

  .actions {
    &:empty {
      display: none;
    }

    span {
      font-size: 22px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.03em;
      color: var(--palatinate-blue);
    }
  }
}

.alertError {
  svg {
    color: var(--mystic);
  }
}

.alertSuccess {
  svg {
    color: var(--green-sheen);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alertLoading {
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background: linear-gradient(302.43deg, var(--medium-blue) -18.46%, var(--azure) 93.84%);
  }

  svg {
    color: var(--white);
    animation: rotating 3s linear infinite;
  }
}

.alertInsufficientBalance {
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background: linear-gradient(282.09deg, var(--mystic) 6.24%, var(--rose-red) 102.94%);
  }

  svg {
    color: var(--white);
  }
}

@media screen and (max-width: 1000px) {
  .alert {
    h2 {
      font-size: 22px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: -0.03em;
      margin-top: 1.5rem;
      margin-bottom: 0.5625rem;
    }

    p {
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .icon {
      margin-bottom: 2rem;
    }

    .actions {
      span {
        font-size: 18px;
        font-weight: 500;
        line-height: 122%;
        letter-spacing: -0.03em;
      }
    }
  }
}
